{% extends 'base.html' %}

{% load static %}

{% block body %}
<h3 align="center">Описание</h3>
<p>Общая постановка задачи о распределении инвестиций следующая: Пусть планируется деятельность нескольких предприятий на очередной промежуток времени. Известно количество начальных средств, которые необходимо так распределить между имеющимися предприятиями в начале промежутка времени, чтобы в конце получить наибольшую прибыль. При этом известна получаемая прибыль от каждого предприятия в зависимости от вложенных в него средств (задана таблично) и выполнены следующие условия: прибыль одного предприятия не зависит от того, сколько средств вложили в другие и суммарная прибыль равна сумме прибылей от каждого предприятия. Прибыль от каждого предприятия выражается в одних и тех же условных денежных единицах.</p>
<p>Данный сайт использует алгоритм динамического программирования Беллмана Ричарда. Динамическое программирование представляет собой математический аппарат, разработанный для эффективного решения некоторого класса задач математического программирования. Этот класс характеризуется возможностью естественного (а иногда и искусственного) разбиения всей операции на ряд взаимосвязанных этапов.</p>
<h3 align="center">Пример</h3>
<p align="center"> <img width="80%" height="100%" src="{% static 'images/primer.png' %}" alt="Картинка примера"></p>
<p>В данной задаче существует 4 предприятия и размер капитала - 120 млн р. Количество капиталовложений 6 с шагом в 20 млн. р. Необходимо выбрать оптимальный план распределения, чтобы получить наибольшую прибыль </p>
<p>Вводим начальные данные и заполняем таблицу</p>
<table align="center">
    <tr>
        <td><p align="center"> <img width="100%" height="50%" src="{% static 'images/prim1.png' %}" alt="Картинка примера"></p></td>
        <td><p align="center"> <img width="100%" height="50%" src="{% static 'images/prim2.png' %}" alt="Картинка примера"></p></td>
    </tr>
    <tr>
       <td><p>Отправляем данные и получаем результат:</p>
           <p align="center"> <img width="80%" height="50%" src="{% static 'images/prim3.png' %}" alt="Картинка примера"></p></td>
       <td><p>Оптимальный план:<br>
           Максимальная прибыль 64 млн р.<br>
           2, 3 и 4 предприятию выделяем 40 млн р.</p>
       </td>
    </tr>
</table>

<h3 align="center">Ограничения</h3>
<p>Максимальное количество предприятий и капиталовложений - 15. Ограничения на размер капитала отсутствуют. Прибыль отдельного предприятия не может быть функцией убывающей.</p>
{% endblock %}
{% block edition %}
<p>_______________________</p>
{% endblock %}