{% extends 'base.html' %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
<h3 align="center">Добро пожаловать, {{user.username}}!</h3>
{% else %}
<h3 align="center">Добро пожаловать</h3>
{% endif %}

<p align="center">Данный сервис предназначен для решения задачи оптимального
    распределения инвестиций в онлайн режиме.</p>
<p align="center">Такого рода задачи основаны на функции Ричарда Беллмана, основателя
динамического программирования.</p>
<p align="center">Для использования основного функционала необходимо пройти быструю авторизацию пользователя.<br>
Полученные решения хранятся в истории и при желание их возможно сохранить в Word документ
</p>

<script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
